div {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blue;
    width: 500px;
    height: 400px;
    overflow: auto;
}

img {
    width: 100px;
    height: 80px;
}
 